@import url(https://fonts.googleapis.com/css?family=Anton);
@import url(https://fonts.googleapis.com/css?family=Comfortaa);
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

* {
  transition: .3s;
}


body {
  font-family: Comfortaa;
  font-weight: bold;
}

.navbar {
  background-color: #212529;
  box-shadow: 0 1px 1px black;
  border-radius: 0 0 5px 5px;
}

.navbar .navbar-brand {
  color: #ddd;
  line-height: 40px;
  font-size: 40px;
  border: 2px solid #ddd;
  border-radius: 4px;
  padding: 5px 10px;
  margin-left: 20px;
  text-shadow: 0px 1px 2px #000;
  box-shadow: 0px 1px 2px #000;
}

.navbar .navbar-brand:hover {
  color: #F95759;
  border: 2px solid #F95759;
}


.navbar li a {
  color: #eee;
  font-size: 20px;
  text-shadow: 0px 1px 2px #000;
}

.navbar li a:hover {
  color: #F95759;
}

.navbar-toggler:hover {
  border: 1px solid #eee;
  cursor: pointer;
}


/*PORTFOLIO*/

.portfolio {
  box-shadow: 0 -5px 10px #333;
  border: 0px solid #333;
  background-color: #D17875;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 50px;
}

.portfolio h1 {
  display: block;
  padding-top: 40px;
  font-size: 60px;
}

.portfolio a {
  position: relative;
  display: block;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0px 10px 30px #111;
  transition: .2s;
  color: #222;
  font-size: 20px;
}

.portfolio img {
  border-radius: 5px 5px 0 0;
}

.portfolio .wrapper {
  position: absolute;
  margin: auto;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: rgba(0,0,0, .8);
  color: #fff;
  font-size: 25px;
  font-weight: 777;
}

.portfolio .wrapper p {
  text-align: center;
  position: absolute;
  margin: auto;
  top: 40%;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.portfolio .discrip {
  text-align: center;
  line-height: 40px;
  width: 100%;
  background-color: #fff;
  border-radius: 0 0 5px 5px;
}

.portfolio a:hover {
  text-decoration: none;
  color: #222;
  background-color: #aaa;
}

/*Profile*/

.profile {
  background-color: #D4CF7D;
  padding-top: 20vh;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 10vh;
}

.profile a {
  color: #222;
}

.profile a:hover {
  text-decoration: none;
  color: blue;
}


#profile .info {
  border-right: 8px solid #333;
  border-bottom: none;
  margin: 20px;
  padding-right: 30px;
}

@media only screen and (max-width: 750px) {
    #profile .info {
  border-right: none;
  border-bottom: 8px solid #333;
  padding-bottom: 30px;
}
}

.info h1{
  font-family: Source Code Pro;
  font-weight: 777;
  margin: 20px;
}

.info h4{
  margin: 20px;
}

#profile .img_wrap {
  margin: auto;
  padding: auto;
  top: 0;
  bottom: 0;
  text-align: center;
}

#profile .img_wrap a {
  text-align: center;
  max-width: 282px;
  margin: auto;
  display: block;
  border-radius: 50%;
}

#profile .img_wrap img {
  box-shadow: 0 15px 30px #000;
  border: 2px solid #333;
  border-radius: 50%;
  max-width: 250px;
  transition: .1s;
}


/*========CONTACT=========*/

.home {
  box-shadow: 0 -5px 10px #333;
  background-color: #338699;
  min-width: 100%;
  min-height: 65vh;
  text-align: center;
  padding-bottom: 20px;
}

.home h2 {
  text-align: center;
  padding: 10px;
  font-size: 60px;
}

.home form input {
  margin: auto;
  display: block;
}

.home .formitem {
  color: #222;
  font-size: 20px;
  font-weight: 555;
  background-color: transparent;
  width: 400px;
  outline: none;
  margin-top: 20px;
  border: none;
  border-bottom: 1px solid #fff;
}

.home .formitem::placeholder {
  font-size: 15px;
  color: #222;
  font-weight: 111;
}

.home form input[type="submit"] {
  margin-top: 20px;
  cursor: pointer;
  width: 100px;
  border-radius: 3px;
  background-color: #222;
  color: #fff;
  border: none;
  outline: none;
  box-shadow: 0 4px 4px #000;
  transition: .1s;
}

.home form input[type="submit"]:hover {
  color: #F95759;
}

.home form input[type="submit"]:active {
  box-shadow: none;
  transform: translate(0px, 4px);
}

.contact {
  background-color: #212529;
  border-top: 1px solid #fff;
  min-height: 25vh;
}

.contact h3 {
  color: #eee;
  text-shadow: 0px 1px 2px #000;
  line-height: 50px;
  font-size: 30px;
  margin-top: 40px;
}
.contact ul {
  margin-right: 40px;
}

.contact .location {
  margin-top: 30px;
  text-align: center;
}

.contact .location p {
 font-size: 20px;
}

.contact li {
  display: inline-block;
  margin: 0px 20px 0 20px;
}

.contact li a {
  color: #eee;
  font-size: 40px;
  text-shadow: 0px 1px 2px #000;
  line-height: 40px;

}
.contact li a:hover {
  color: #F95759;
}
.contact p {
  color: #eee;
  font-size: 15px;
  text-shadow: 0px 1px 2px #000;
  line-height: 40px;
}